body {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  display: block;
  background-color: rgb(184, 124, 124);
}

header {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: transparent;
}

nav ul{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
a {
  text-decoration: none;
  color: white;
}

/* HEADER */

.art {
  position: absolute;
  top: 0;
  width: 100%;
  height: 300px;
  color: white;
  display: grid;
  align-content: center;
  text-align: center ;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.art2 {
  position: absolute;
  top: 250px;
  width: 100%;
  height: 100px;
  color: white;
  display: grid;
  background-color: rgba(165, 42, 42, 0.63);
  align-content: center;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* SEÇÃO 1 SOBRE */

.about {
  display:flex;
  flex: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.aboutbutton {
  background-color: rgba(224, 100, 100, 0.616);
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: aliceblue;
}

.ourhistory {
  padding: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 25px;
  background-color: rgba(165, 42, 42, 0.521);
}



/* SEÇÃO 2 PRODUTOS */
.product {
  height: 100%;
  width: 100%;
}
.productbutton {
  background-color: rgba(255, 0, 0, 0.616);
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: aliceblue;
}

/* FOOTER */

.entre {
  text-align: center;
  background-color: red;
  border: .07rem solid black;
  border-radius: 30px;
  margin-top: 20px;
  width: 50%;
}

.footer-copyrigh{
  align-content: center;
}

.faceb {
  height: 30px;
  width: 30px;
  border: .07rem solid black;
  border-radius: 20px;
}

.img-contato1 {
  height: 30px;
  width: 25px;
}

.img-contato2 {
  height: 30px;
  width: 30px;
}

.img-social {
  height: 30px;
  width: 30px;
}

.linkbyron {
  padding: 30px;
  background-color: rgb(219, 102, 121);
  text-align: center;
}

.byron {
  height: 35%;
  width: 35%;
}

/* SMARTPHONES */
@media screen and (min-width: 260px) {
  .aboutbutton {
    background-color: rgba(224, 100, 100, 0.616);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
    font-size: 40px;
  }
  .ourhistory {
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    background-color: rgba(165, 42, 42, 0.521);
  }
  .productbutton {
    background-color: rgba(224, 100, 100, 0.616);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
    font-size: 40px;
  }
  .byron {
    height: 80%;
    width: 80%;
  }

}

/* TABLETS */
@media screen and (min-width: 960px) {
  .parallax {
    width: 50%;
    height: 50%;
  }

  .byron {
    height: 60%;
    width: 60%;
  }
  
}

/* PC */
@media screen and (min-width: 800px) {
  .aboutbutton {
    background-color: rgba(224, 100, 100, 0.616);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
    font-size: 70px;
  }
  .ourhistory {
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    background-color: rgba(165, 42, 42, 0.521);
  }
  .parallax {
    width: 100%;
    height: 100%;
  }
  .productbutton {
    background-color: rgba(224, 100, 100, 0.616);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
    font-size: 70px;
  }
  .byron {
    height: 35%;
    width: 35%;
  }
  
}